.root-words-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.root-words-container > div:nth-child(3) {
  width: 75%;
  background-color: var(--light-color);
  padding: 10px;
  border-radius: 10px;
}
.root-words-container > div:nth-child(3) ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 20px;
  list-style-type: disc;
  padding: 0;
}
.root-words-container > div:nth-child(3) ul li {
  margin-bottom: 10px;
}
.root-words-container > div:nth-child(4) {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-content: center;
}

.root-word-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--border-dark);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--light-color);
}

.font-text {
  font-family: "ScribeWork", monospace;
  font-size: 3rem;
}
.root-word-container img {
  width: 100px;
}
