.shapes-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.shapes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  width: 100%;
  border: 2px solid rgb(209, 209, 209);
  height: 720px;
  width: 720px;
}
.circle {
  margin: 50px;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border: 5px solid rgb(0, 0, 0);
  box-shadow: 0 0 0 -10px rgb(255, 255, 255);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circleSecond {
  width: 390px;
  height: 390px;
  border-radius: 50%;
  border: 5px solid rgb(0, 0, 0);
  box-shadow: 0 0 0 -10px rgb(255, 255, 255);
}
.circle-item {
  font-family: "cadef", monospace;
  font-size: 57px;
  position: absolute;
  transform: translate(-50%, -50%) rotate(calc(var(--angle, 0deg)));
  color: black;

  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50% - 250px * cos(var(--angle, 0deg)));
  left: calc(50% + 250px * sin(var(--angle, 0deg)));

  border: 5px solid black;
  border-radius: 50%;
  padding: 18px 0px 12px 10px;
}
